* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: lightblue;
    /* position: fixed; */
    display: grid;
    /* width: 100%;
    height: 100%; */

    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    padding: 10rem;
}

.content-div {
    background: green;
    width: 15rem;
    height: 15rem;
    margin: 5rem;
}

#div01 {
    background: purple;
}

#div02 {
    background: pink;
}

#div03 {
    background: red;
}

#div04 {
    background: orange;
}

#div05 {
    background: gray;
}

#div06 {
    background: turquoise;
}

.img-div {
    padding: 2rem;
    justify-content: center;
    align-items: center;
}